# Core functionality - changes here should be rare!
/src/app.py                   @YANZAAN
/src/backend/database.py      @YANZAAN
/src/backend/routers/auth.py  @YANZAAN

# The frontend will need refactored soon to be more object oriented.
/src/static/   @YANZAAN
